body{
    
    background-color: #1eae98;
}


header{
    text-align: center;
    background-color: #233e8b;
    color: wheat;
    font-size: 35px;
    padding-bottom: 20px;
    border-radius: 15px;
   
}


main{
   
    text-align: center;

}
main div p {
    background-color:#a9f1df ;
    padding: 20px;
    border-radius: 15px;
    
}


ul{
    margin-left: 10px ;
    list-style-type: circle;
    text-align: left;
    list-style: none;
   
    color: white;
    list-style-type: circle;
    padding: 15px;

    
}

  h2{
      font-size: 33px;
      background-color:#a9f1df ;
      border-radius: 15px;
  }
img{
    width: 40%;
    list-style-type: circle;
}
footer{
    background-color:#ffffc7 ;
   text-align: center;
}

