body{
    text-align: center;
    background-color: darksalmon;
  
    
}


div{
  
    margin:20px;
    font-size: 30px;
}


h1{
    color:white;
    

}



img{
    width: 40%;
}
p {
    font-size: 20 px;
}