
body{
    background-color: darksalmon;
    
}


div{
    font-size: larger;
    text-align: center;
    
}

h1{
    font: size 30px;
    color: white;
  
   
   
}

 
div  p{
    margin-left: 260px;
    margin-bottom: 20px;
    margin-top: 20px;
   text-align: center;
    height: 100px;
    width: 250px;
    background-color: wheat;
    
    

}
div img{
    margin-top: 30px;
    width: 250px;
    margin-top: 10px;
    
}



